/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
nav{
    background-color: #333;color: #fff;
}
nav a{
    color: #fff;
    padding: 5px ;
}
nav a:hover{
    color: #ccc;
    text-decoration: none;
}